# python artifacts
*.py[cod]
__pycache__/*

# editor cache files
*~
\#*#
.*.swp

# tool caches
.pytest_cache/*
.ruff_cache/*
.prettier_cache/*
.mypy_cache/*
.hypothesis/*
.ipynb_checkpoint/*
.virtual_documents/*
.coverage
