# editor files
*~
\#*#
.*.swp

# python bytecode
*.py[cod]
__pycache__/*

# install artifacts
/build
/dist
/*.egg-info

# tool caches
.pytest_cache/*
.ruff_cache/*
.prettier_cache/*
.mypy_cache/*
.hypothesis/*
.ipynb_checkpoint/*
.virtual_documents/*
.coverage
.coverage.*
.cache
/docs/_build/
